<div data-controller="demo">
  <input type="text" data-target="demo.content">
  <button data-action="demo#pushme">click me</button>
</div>

<div data-controller="demo">
  <input type="text" data-target="demo.content">
  <button data-action="demo#pushit">click it</button>
</div>